body {
font-size: 14px;
font-family: "PT Sans Narrow";
font-weight: 700;
line-height: 24px;
color: black;
text-transform: uppercase;
}

.visually-hidden{
display: none;
}

.headers {
font-family: "PT Sans Narrow";
font-weight: 700;
line-height: 42px;
font-size: 30px;
text-transform: uppercase;
}

h2 {
color: black;
}

h3 {
color: #f7f4f1;
}
